.DS_Store
._.DS_Store
__pycache__/
.cache/
.rasa/

tmp/

botserver-app/auth/
botserver-app/git/
botserver-app/logs/
botserver-app/models/
botserver-app/credentials.yml
botfrontend/botfrontend/local.py
botfrontend/db.sqlite3

.env
.cw.env
